<div id="name">
  <header>
    <a class="btn btn-info" href="/skills/new">New Skill</a>
    <a class="back btn btn-info" href="/">Home</a>
    <h2 class="col-md-offset-4">Skills</h2>
  </header>
</div>

<div id="skill_list" class="col-md-offset-3">
  <ol>
    <% @skills.each do |skill| %>

    <form action="/skills/<%= skill.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="back btn btn-danger btn-xs" type="submit">Delete</button>
    </form>

    <li><a href="/skills/<%= skill.id %>"><%= skill.name %></a></li>
    <a href="/skills/<%= skill.id %>/edit">Edit</a>

    <% end %>
  </ol>
</div>
