<div id="name">
  <header>
    <a class="btn btn-info" href="/skills/new">New Skill</a>
    <h2>Skills</h2>
  </header>
</div>

<div id="skill_list">

  <ol>
    <% @skills.each do |skill| %>
    <li><a href="/skills/<%= skill.id %>"><%= skill.name %></a></li>
    <a href="/skills/<%= skill.id %>/edit">Edit</a>

    <form action="/skills/<%= skill.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Skill">
    </form>

    <% end %>
  </ol>
</div>
